@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Debugging * /
svg path {
  stroke: #ff00ff;
}
/**/

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.8vw;
}

body {
  background: linear-gradient(160deg, rgba(255,255,255,1) 0%,rgb(4, 158, 209) 100%);
}

.site {
  max-width: 1000px;
  border: 0;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0.3em 0 0 0;
}

a {
  color: rgb(22, 22, 22);
  text-decoration: none;
}
a:hover {
  color: #226b88;
}

button {
  /* Disable chrome/android highlighting */
  user-select: none;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.highlight {
  color: #226b88;
}

/**
 * Header and menu
 */
.top {
  background: url(../img/top-background.svg) no-repeat 100% 0;
  background-size: cover;
  filter: drop-shadow(0px 0px 10px rgb(5,166,255,0.15));
  height: 7vw;
  z-index: 13;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.menu {
  text-align: right;
  margin: 1vw 2vw 0 0;
  font-size: 2.8vw;
}
.menu a {
  margin-right: 1vw;
}

/**
 * Home Banner
 */
#home {
  position: relative;
}
#home .header {
  display: flex;
  background: url(../img/parallax/6.png) no-repeat, url(../img/parallax/5.png) no-repeat, url(../img/parallax/4.png) no-repeat, url(../img/parallax/3.png) no-repeat, url(../img/parallax/2.png) no-repeat, url(../img/parallax/1.png) no-repeat;
  background-position: 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 50% 50%;
  background-size: cover;
  justify-content: center;
}

#home .logo {
  margin: 10vh 0 10vh 0;
  opacity: 0.80;
  filter: drop-shadow(0px 0px 10px #ffffff);
  height: 50vw;
  width: 50vw;
}

#sparkles1 {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
  left: 0;
}

svg tspan {
  fill: #226b88;
}

/**
 * 1st split with wave animation
 */
.fold-split {
  position: relative;
  margin-top: -10.3vw;
  margin-bottom: -16.2vw;
}
.fold-split svg {
  position: absolute;
  top: -10%;
  left: 0;
  font-size: 45px;
}
.fold-split img {
  display: block;
  width: 100%
}
.fold-split img.sparkles {
  pointer-events: none;
  position: absolute;
  top: 0;
  left:0;
}
.fold-split a {
  background: transparent url(../img/spritesheet-zwaaien.png) 0 0;
  background-size: 2000%;
  display: block;
  position: absolute;
  right: 0;
  top: 3.1vw;
  width: 30vw;
  height: 30vw;
  max-height: 300px;
  max-width: 300px;
  animation: play-wave 1s steps(20) infinite alternate forwards paused;
}
.fold-split a:hover {
  animation-play-state: running;
}
@keyframes play-wave {
  100% { background-position: -2000% 0; }
}

/**
 * Teaser
 */
.teaser {
  background: url(../img/spritesheet-eyes.png) 0 0;
  background-size: 5000%;
  height: 50vw;
  max-height: 450px;
  animation: play-eyes 1400ms steps(50) infinite alternate paused;
}
.teaser:hover {
  animation-play-state: running;
}
@keyframes play-eyes {
  100% { background-position: -5000% 0; }
}

/**
 * 2nd split
 */
.slogan-split {
  position: relative;
  text-align: center;
  margin-top: -10vw;
  margin-bottom: -4vw;
  z-index: 12;
}
.slogan-split img {
  display: block;
  width: 100%
}
.slogan-split img.sparkles {
  position: absolute;
  top: 0;
  left:0;
}
.slogan-split svg {
  position: absolute;
  top: 0;
  right: 0;
}
.slogan-split svg text {
  fill: #226b88;
  font-size: 45px;
}
.slogan-split svg text.highlight {
  fill: rgb(24, 24, 24);
  font-size: 55px;
}

/**
 * Projects
 */
.project {
  position: relative;
}
.project:nth-child(1) { z-index: 10; }
.project:nth-child(2) { z-index: 9; }
.project:nth-child(3) { z-index: 8; }
.project:nth-child(4) { z-index: 7; }
.project:nth-child(5) { z-index: 6; }
.project:nth-child(6) { z-index: 5; }
.project:nth-child(7) { z-index: 4; }
.project:nth-child(8) { z-index: 3; }
.project:nth-child(9) { z-index: 2; }

.project button.previous, .project button.next {
  background: url(../img/project-arrow.svg) no-repeat;
  background-size: contain;
  padding: 0;
  overflow: hidden;
  text-indent: -60em;
  filter: drop-shadow(0px 0px 5px rgb(5,166,255,0.35));
  width: 10%;
  height: 16%;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 35%;
  transition: right 300ms ease-out, left 300ms ease-out;
}
.project button.previous {
  transform: rotate(180deg);
  left: 2%;
}
.project button.previous:hover {
  left: 1%;
}
.project button.next {
  right: 2%;
}
.project button.next:hover {
  right: 1%;
}
.project button.previous:disabled, .project button.next:disabled {
  opacity: 0.3;
  cursor: default;
}

.project .page-index {
  position: absolute;
  right: 10px;
  bottom: 60px;
}

.project .page-index button {
  cursor: pointer;
  border: 5px solid white;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 0px rgba(5, 166, 255, 0.45);
  padding: 0;
  overflow: hidden;
  text-indent: -10em;
  background: white;
  margin-left: 8px;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.project .page-index button:hover {
  border-color: #226b88;
}
.project .page-index button:disabled {
  border-color: #226b88;
  background: #226b88;
}

.project .pages {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.project .pages::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.project .page {
  background: white;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.project .page img {
  display: block;
  width: 100%;
}
.project .page .content {
  padding: 0 20%;
  padding-bottom: 10%;
}
.project .page .content h2 {
  color: #226b88;
}
.project .banner {
  margin-top: -9.8vw;
  margin-bottom: -4.3vw;
  position: relative;
}
.project .banner img {
  display: block;
  width: 100%
}
.project .banner img.sparkles {
  position: absolute;
  top: -18px;
  left: 0;
}
.project svg {
  position: absolute;
  font-size: 35px;
  top: 0;
  left: 0;
  color: #226b88;
}
.project p .title {
  color: rgb(20, 20, 20);
}

/**
 * Contact
 */
#contact {
  color: white;
  background: #1393c5;
  text-align: center;
  padding: 10vw 0;
  position: relative;
}

#contact .content {
  position: relative;
  margin-top: 10vw;
  z-index: 2;
}

#contact .content a {
  transition: text-shadow 200ms ease-out, padding 200ms ease-out;
  padding-right: 2px;
  padding-top: 2px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
}
#contact .content a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  padding-right: 2px;
  padding-top: 0px;
}

#contact .fade {
  position: absolute;
  top: 0;
  left: 0;
  margin: -12.2vw 0 0 0;
  width: 100%;
  z-index: 1;
}

#contact .sparkles {
  position: absolute;
  pointer-events: none;
  top: -12vw;
  left: 0;
  z-index: 11;
  width: 100%;
}

#contact a, #contact a:hover {
  color: white;
}

#contact h1 {
  color: black;
}

@media (max-width: 640px) {
  .top {
    height: 80px;
  }
  .menu {
    margin-right: 13vw;
    margin-top: 4vw;
    font-size: 27px;
  }
  .menu a {
    margin-right: 10px;
  }
}

@media (min-width: 900px) {
  body, html {
    font-size: 25px;
  }
  .site {
    box-shadow: 0px 0px 25px 0px rgba(0, 166, 255, 0.35);
    border: 5px solid white;
    border-top: 0;
    border-bottom: 0;;
  }
  .project p {
    font-size: 40px;
    top: 20px;
    left: 20px;
  }
  .project .banner {
    margin-top: -98px;
    margin-bottom: -45px;
  }
  #home .logo,
  #home .sparkles {
    width: 500px;
    height: 500px;
    margin: 100px 0;
  }
  .fold-split {
    margin-top: -103px;
    margin-bottom: -162px;
  }
  .fold-split a {
    right: 0;
    top: 31px;
  }
  .slogan-split {
    margin-top: -100px;
    margin-bottom: -40px;
  }
  .slogan-split p {
    font-size: 40px;
  }
  .slogan-split p span {
    font-size: 50px;
  }
  #contact {
    padding: 100px 0;
  }
  #contact .fade {
    margin-top: -122px;
  }
  #contact .content {
    margin-top: 100px;
  }
  #contact .sparkles {
    top: -120px;
  }
}
